@font-face {
    font-family: 'nombre';
    src: url(../fonts/MoiraiOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'body';
    src: url(../fonts/Gidole-Regular.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    cursor: url('../img/cursorCohete.png') 16 16, auto;
    box-sizing: border-box;
}


header {
    width: 100%;
    margin: 0;
    font-family: 'body';
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    background-color: white;
}

.nav ul {
    text-align: center;

}

.nav li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.nav li a {
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 10px 15px;

}

.nav li>a {
    min-width: 160px;
}

.nav li a:hover {
    box-shadow: inset 0px -3px 0px 0px rgb(39, 37, 62);

}

.nav li ul {
    position: absolute;
    z-index: 1000;
    white-space: nowrap;
}

.nav li ul li {
    display: none;
    width: 100%;
}

.nav li:hover ul li {
    display: flex;
    text-align: left;
}

.nav li ul li a:hover {
    background-color: rgb(39, 37, 62);
    color: white;
}

.cabecera {
    background-image: url("../img/fondo4.jpg");
    background-position: center;
    font-size: 60px;
    padding-left: 50px;
    color: white;
    text-align: center;
    display: flex;
    text-align: center;

}

.logo img {
    height: 120px;
    vertical-align: middle;
}

.nombre {
    margin-left: 430px;
    margin-top: 10px;
    font-family: 'nombre';
    font-weight: bold;
    vertical-align: middle;
}

footer {
    bottom: 0;
    background-color: rgb(39, 37, 62);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-family: 'body';
    margin-top: 15px;

}

footer ul li {
    margin-bottom: 15px;
    list-style-type: none;
}

footer ul li a {
    list-style: none;
    text-decoration: none;
    color: white;


}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-top: 30px;
    border-top: 2px solid white;
    padding-top: 20px;
}

.social img {
    height: 40px;
    list-style: none;
    transition: transform 0.2s ease;
}

.social img:hover {
    transform: scale(1.15);
}

.main {
    display: flex;
    margin-right: 20px;
    font-family: 'body';
}

.izquierda {
    flex: 1;
    padding: 20px;
}

.contenido,
.reseñas {
    border: 1px solid rgb(39, 37, 62);
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    margin-right: 20px;
}

.lateral {
    width: 250px;
    border-left: 2px solid rgb(39, 37, 62);
    padding: 15px;
    position: sticky;
    margin-top: 20px;
    margin-right: 0;
    overflow-y: auto;
    margin-bottom: 40px;
}

h1 {
    font-family: 'nombre';
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.presentacion {
    list-style: decimal;
    margin: 15px;
    justify-content: center;
}

.cuadrados {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;

}

.tarjeta {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.valoracion {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.tarjeta:hover .valoracion {
    transform: rotateY(180deg);
}

.cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.frente {
    background-color: #ffffff;
}

.dorso {
    background-color: rgb(39, 37, 62);
    color: white;
    transform: rotateY(180deg);
}

.lateral img {
    height: 160px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* ------------------- ENTRENAMIENTO PREVIO -----------------  */


body.entrenamiento-previo {
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1.entrenamiento-previo {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 20px gold;
    color: rgb(222, 28, 28);
    font-family: "nombre";
}

.container_cards {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
    transition: all ease 300ms;
}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img {
    height: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all ease 500ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .img_back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all ease 300ms;
    box-shadow: 0 0 20px rgb(232, 164, 235);
}


/*Pseudo-clase :nth-of-type(n)
En CSS, selecciona uno o más elementos de un tipo dado (puede ser img, p, video, etc.)
y en función de su posición, los situa entre un grupo de hermanos.
*/

/* .card:nth-of-type(1) .img_back {
    background-image: url(images/bg1.png);
}

.card:nth-of-type(2) .img_back {
    background-image: url(images/bg2.png);
}

.card:nth-of-type(3) .img_back {
    background-image: url(images/bg3.png);
}

.card:nth-of-type(4) .img_back {
    background-image: url(images/bg4.png);
}

.card:nth-of-type(5) .img_back {
    background-image: url(images/bg5.png);
} */

.card:hover .img_back {
    bottom: -40px;
}

.card .description {
    box-shadow: 0 0 20px rgb(232, 164, 235);
    background: rgba(255, 255, 255, 0.5);
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all ease 300ms;
}

.card:hover .description {
    padding: 40px;
}

.card .description h2 {
    margin-top: 10px;
    font-family: "body";
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
}

.card .description input:hover {
    background: #c79dc3;
}


/*----------------------- SIMULADOR DE VIAJES ---------------------- */




body.simulador-viajes {
    /* background: linear-gradient(to right, #2c5364, #0f2027);  */
    background-image: url(../img/fondo4.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;



}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    /*
        La propiedad transform-style decide si los elementos anidados 
        presevan las transformaciĂłn 3d (preseve-3d) o no (flat).
        En nuestro caso, queremos que el elemento .slider tenga 
        transform-style:preserve-3d ya que queremos que los elementos
        hijos tengan un aspecto tridimensional (3d)
    */
    transform-style: preserve-3d;
    animation: rotate 25s linear infinite;
    margin-bottom: 395px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    text-shadow: 0 0 20px gold;
    color: rgb(166, 11, 11);
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

.contenido-simulador {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 500px;
    /* espacio entre el slider y la descripción */
    margin-top: 50px;
    margin-right: 100px;
    padding: 0 30px;

}

.descripcion-simulador {
    max-width: 400px;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    line-height: 1.6;
}

.descripcion-simulador h2 {
    text-align: center;
    color: gold;
    margin-bottom: 20px;
}

.descripcion-simulador strong {
    color: #ffd700;
}

.descripcion-simulador em {
    color: coral;
    font-style: 'italic';
}

/* --------------QUIENES SOMOS---------------- */

.quienes-somos-body {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

}

.quienes-somos {
    width: 50%;
    height: 50%;
    margin: 2.5% auto;
    padding: 20px;
    background-color: #0e0e2c;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
    font-family: 'body';
    text-align: justify;
    line-height: 1.6;
}

.quienes-somos h2 {
    text-align: center;
    color: gold;
    margin-bottom: 20px;
}

.quienes-somos em {
    color: #ccc;
    font-style: 'italic';
}

.quienes-somos strong {
    color: #ffd700;
}

.astro {
    position: relative;
    /* Establece un contexto para posicionar hijos con absolute */
    width: 100%;
    /* O un ancho fijo si lo prefieres */
    height: 300px;
    /* Ajusta según necesites */
}

/* Imagen del astronauta con cohete */
.astro-cohete {
    position: absolute;
    top: 25rem;
    /* Ajusta posición vertical */
    left: 12rem;
    /* Ajusta posición horizontal */
    width: 120px;
    /* Tamaño opcional */

}

/* Imagen del astronauta con globos */
.astro-globos {
    position: absolute;
    top: 30rem;
    right: 12rem;
    /* Ajusta posición horizontal */
    width: 120px;

}

.astro-love {
    position: absolute;
    top: 15%;
    left: 65%;
    width: 100px;

}

.astro-super {
    position: absolute;
    top: 75%;
    left: 34%;
    width: 100px;

}

.flotando {
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/*----------------------- LOW COST & PREMIUM DELUXE ---------------------- */

.contenidolowcost {
    overflow: hidden;
}

.contenidopremium {
    overflow: hidden;
    background-image: url(../img/SL-101521-46190-02.jpg);
    color: gold;
    font-weight: bold;
    border-radius: 5px;
}



/* imagen de la familia colocada a la izquierda dejando el texto a su alrededor*/

.imgpresu {
    float: left;
    width: 40rem;
    height: 25rem;
    margin: 20px 20px 20px 20px;
    border: 3px solid black;
    border-radius: 15px;

}

/* imagen de la comida colocada a la derecha dejando el texto a su alrededor*/

.imgcomi {
    float: right;
    width: 20rem;
    height: 20rem;
    margin: 40px 20px 40px 20px;
    border-radius: 15px;
    border: 3px solid rgb(145, 8, 85);
}

/* para centrar solo el eslogan sin usar html*/

.textcent {
    text-align: center;
}

/* para que la lista no quede pegada a la izquierda*/

.servicios {
    margin-left: 1rem;
}

.imgdeluxe {
    float: right;
    width: 40rem;
    height: 25rem;
    margin: 20px 20px 20px 20px;
    border: 3px solid rgb(183, 215, 2);
    border-radius: 15px;

}

/* hover en el enlace de lowcost y premium que lleva al menú (de comida)*/

menulcprem {
    color: rgba(248, 241, 24, 0.897);
}

.menulc:hover {
    background-color: rgba(73, 150, 212, 0.712);
    color: rgb(251, 255, 4);
}

.menulcprem:hover {
    background-color: rgba(170, 212, 73, 0.712);
    color: rgb(251, 255, 4);
}

/* El link hacía que las letras en deluxe se quedasen oscuras, así que
he puesto un atributo visited para que conserve el color de la fuente */

.menulcprem:visited {
    color: inherit;
}

/*-------------------------MENÚS (de comida y bebida)-----------------------------*/
/*-------  Las tablas son complicadas con CSS, he jugado con los porcentajes,
 dandole un 80% de la pantalla, máximo 90% para que no se viesen raras o deformadas--------*/


table {
    margin: auto;
    width: 80%;
    max-width: 90%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    color: #000;
}

table caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

table thead {
    font-size: 2rem;
}

table,
td,
th {
    border: solid rgb(124, 126, 247) 1px;
    text-align: center;
}

th {
    font-weight: bold;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.caja-aviso {
    background-color: #c5e6cb;
    padding: 15px;
    margin: 30px 0;
    font-family: 'body';
    font-weight: bold;
}

.contenidodeluxe {
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid gold;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.5);
}

.contenidodeluxe table {
    margin: auto;
    width: 80%;
    max-width: 90%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    color: #000;
}

.contenidodeluxe caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.contenidodeluxe td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}


/*----------------------- FORMULARIO CONTACTO ---------------------- */

body.contacto {
    background-image: url(../img/optimized.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.contacto {
    text-align: center;
    padding: 1rem;
}

.contacto h1 {
    font-family: 'body';
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 0.1rem wheat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(24, 24, 26, 0.749);
    color: rgb(255, 255, 255);
}

form {
    width: 900px;
    max-width: 900px;
}

form fieldset {
    display: flex;
    flex-direction: column;
    /*background-color: rgb(35, 60, 137);*/
    text-align: left;
    padding: 1rem;
    color: white;
    font-weight: bold;
    background-image: url(../img/6467569.jpg);
}

form fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
}

.fila-sola {
    margin-left: 1rem;
}

.fila-doble {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.campo {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 0.5rem;
}

.campo label {
    margin-bottom: 0.3rem;
    text-align: left;
}

.campo input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.campo select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

fieldset div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

fieldset label {
    flex: 1;
}

.label-mensaje {
    font-size: 0.9rem;
    color: rgb(255, 150, 150);
    padding-bottom: 0.5rem;
}

textarea {
    height: 5rem;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.botonnave {
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 50%;
    background-image: url('../img/botonenviar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px yellow;

}

.botonnave.reset {
    background-image: url('../img/botonborrar.png');
    border: solid 1px yellow;
}

.botonnave:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.6);
}

/*----------------------- NEWS ---------------------- */

.fondospacenews {
    background-image: url(../img/fondo2.jpg);

}

.noticias-dos {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
    flex-wrap: wrap;
}

.noticia-box {
    text-align: center;
    width: 40rem;
}

.imgnoticia {
    width: 100%;
    height: auto;
    border: 4px solid yellow;
    border-radius: 15px;
    box-shadow: 0 0 30px 10px rgba(255, 255, 0, 0.6);
}

.titulo-noticia {
    font-family: 'nombre';
    font-size: 40px;
    color: yellow;
    margin-bottom: 20px;
}

